# this is a template that describes the ocwc itself
<urn:uuid:c4ba6670-b686-11e3-a5e2-0800200c9a66> <http://schema.org/addressLocality> <http://sws.geonames.org/4945283/> .
<urn:uuid:c4ba6670-b686-11e3-a5e2-0800200c9a66> <http://schema.org/addressCountry> <http://sws.geonames.org/6252001/> .
<urn:uuid:c4ba6670-b686-11e3-a5e2-0800200c9a66> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://schema.org/Address> .
<http://lobid.org/oer/88feda8d-73bc-4b26-84be-f39687c31a04#!> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.w3.org/ns/org#OrganizationalCollaboration> .
<http://lobid.org/oer/88feda8d-73bc-4b26-84be-f39687c31a04#!> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://schema.org/Organization> .
<http://lobid.org/oer/88feda8d-73bc-4b26-84be-f39687c31a04#!> <http://schema.org/address> <urn:uuid:c4ba6670-b686-11e3-a5e2-0800200c9a66> .
<http://lobid.org/oer/88feda8d-73bc-4b26-84be-f39687c31a04#!> <http://schema.org/description> "The OpenCourseWare Consortium is a worldwide community of hundreds of higher education institutions and associated organizations committed to advancing open education and its impact on global education. " .
<http://lobid.org/oer/88feda8d-73bc-4b26-84be-f39687c31a04#!> <http://schema.org/logo> <http://ocw.mit.edu/about/ocw-consortium/ocwconsortiumlogo.gif> .
<http://lobid.org/oer/88feda8d-73bc-4b26-84be-f39687c31a04#!> <http://schema.org/name> "Open Courseware Consortium" .
<http://lobid.org/oer/88feda8d-73bc-4b26-84be-f39687c31a04#!> <http://schema.org/url> <http://www.ocwconsortium.org/> .
<http://lobid.org/oer/88feda8d-73bc-4b26-84be-f39687c31a04#!> <http://schema.org/alternateName> "OCWC" .

